.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
node_modules

.code-workspace
# Include when developing application packages.
pubspec.lock
.idea/
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Ignore npm/yarn debug log
npm-debug.log


# User specific ng-dev settings
.ng-dev.user*

.notes.md


# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/