<div class="login-wrapper">
  <form class="login" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup.value)">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Multitenant Ecommerce
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">email</label>
        <input type="text" name="email" formControlName="email" clrInput placeholder="Email" />
        <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
        <clr-control-error *clrIfError="'maxLength'">Max length is (256) characters!</clr-control-error>
        <clr-control-error *clrIfError="'email'">The email is invalid!</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" formControlName="password" clrPassword placeholder="Password" />
        <clr-control-helper>At least 8 characters.</clr-control-helper>
        <clr-control-helper>Must contain at least 1 uppercase letter.</clr-control-helper>
        <clr-control-helper>Must contain at least 1 lowercase letters.</clr-control-helper>
        <clr-control-helper>Must contain at least 1 number.</clr-control-helper>
        <clr-control-error *clrIfError="'password'">At least 8 characters.</clr-control-error>
        <clr-control-error *clrIfError="'password'">Must contain at least 1 uppercase letter.</clr-control-error>
        <clr-control-error *clrIfError="'password'">Must contain at least 1 lowercase letters.</clr-control-error>
        <clr-control-error *clrIfError="'password'">Must contain at least 1 number.</clr-control-error>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" formControlName="rememberMe" clrCheckbox />
      </clr-checkbox-wrapper>
      <button type="submit" class="btn btn-primary" [disabled]="loginFormGroup.invalid || isInProcess" >Login</button>
      <a href="javascript://" class="signup">Or sign up</a>
    </div>
  </form>
</div>
