<div class="clr-row clr-justify-content-center">
  <div class="clr-col-6">
    <div class="card">
      <div class="card-header">
        Welcome to your page
      </div>
      <div class="card-block">
          <label class="title">
            ECommerce Multitenant&#174;
          </label>
          <form clrForm>
            <div class="clr-form-control">
              <clr-input-container>
                <label for="email" class="clr-control-label">Email</label>
                <input clrInput placeholder="Email" name="email" />
              </clr-input-container>
            </div>
            <div class="clr-form-control">
              <clr-password-container>
                <label for="password" class="clr-control-label">Password</label>
                <input clrPassword placeholder="Password" name="password" />
              </clr-password-container>
            </div>
          </form>
          <button type="submit" class="btn btn-primary">LOG IN</button>
          <a href="#" class="signup">Sign up for an account</a>
      </div>
    </div>
  </div>
</div>
